<a href="https://colab.research.google.com/github/ananthomprakash/DS-github/blob/master/House_Rent_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # to perform numerical operations
import pandas as pd # for data manipulations and data agrregations
import matplotlib.pyplot as plt
import seaborn as sns   # for visualization
from sklearn.linear_model import LinearRegression #  To Build regression algo
import statsmodels.api as sm # to build the statstical models
from sklearn.model_selection import train_test_split # to divide the data into train and test
import sklearn.metrics

In [4]:
from google.colab import drive
drive.mount('/content/DataSets')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/DataSets

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
downloaded = drive.CreateFile({'id':"1mflrMcbcKXdIQr45xYm4H6PcdB8dBKt7"})
downloaded.GetContentFile('housing_train.csv')

In [0]:
house_raw = pd.read_csv('housing_train.csv')

In [10]:
house_raw.shape

(265190, 22)

In [11]:
house_raw.head()

           id                                                url  ...     long state
0  7039061606  https://bham.craigslist.org/apa/d/birmingham-h...  ... -86.7065    al
1  7041970863  https://bham.craigslist.org/apa/d/birmingham-w...  ... -86.8045    al
2  7041966914  https://bham.craigslist.org/apa/d/birmingham-g...  ... -86.7065    al
3  7041966936  https://bham.craigslist.org/apa/d/birmingham-f...  ... -86.7065    al
4  7041966888  https://bham.craigslist.org/apa/d/birmingham-2...  ... -86.7065    al

[5 rows x 22 columns]

In [0]:
house_raw.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'type', 'sqfeet', 'beds',
       'baths', 'cats_allowed', 'dogs_allowed', 'smoking_allowed',
       'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished',
       'laundry_options', 'parking_options', 'image_url', 'description', 'lat',
       'long', 'state'],
      dtype='object')

In [0]:
house_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265190 entries, 0 to 265189
Data columns (total 22 columns):
id                         265190 non-null int64
url                        265190 non-null object
region                     265190 non-null object
region_url                 265190 non-null object
price                      265190 non-null int64
type                       265190 non-null object
sqfeet                     265190 non-null int64
beds                       265190 non-null int64
baths                      265190 non-null float64
cats_allowed               265190 non-null int64
dogs_allowed               265190 non-null int64
smoking_allowed            265190 non-null int64
wheelchair_access          265190 non-null int64
electric_vehicle_charge    265190 non-null int64
comes_furnished            265190 non-null int64
laundry_options            210879 non-null object
parking_options            170055 non-null object
image_url                  265190 non-null object
description                265188 non-null object
lat                        263771 non-null float64
long                       263771 non-null float64
state                      265189 non-null object
dtypes: float64(3), int64(10), object(9)
memory usage: 44.5+ MB

In [0]:
house_raw.isnull().sum()/len(house_raw)*100

id                          0.000000
url                         0.000000
region                      0.000000
region_url                  0.000000
price                       0.000000
type                        0.000000
sqfeet                      0.000000
beds                        0.000000
baths                       0.000000
cats_allowed                0.000000
dogs_allowed                0.000000
smoking_allowed             0.000000
wheelchair_access           0.000000
electric_vehicle_charge     0.000000
comes_furnished             0.000000
laundry_options            20.480033
parking_options            35.874279
image_url                   0.000000
description                 0.000754
lat                         0.535088
long                        0.535088
state                       0.000377
dtype: float64

In [0]:
house_raw.duplicated().sum()

0

In [0]:
house_raw.describe().T

,count,mean,std,min,25%,50%,75%,max
id,265190.0,7.040888e+09,8.778930e+06,7.003808e+09,7.035963e+09,7.043109e+09,7.048362e+09,7.051263e+09
price,265190.0,1.227285e+04,5.376352e+06,0.000000e+00,8.170000e+02,1.060000e+03,1.450000e+03,2.768307e+09
sqfeet,265190.0,1.093678e+03,2.306888e+04,0.000000e+00,7.520000e+02,9.500000e+02,1.156000e+03,8.388607e+06
beds,265190.0,1.912414e+00,3.691900e+00,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.100000e+03
baths,265190.0,1.483468e+00,6.302080e-01,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,7.500000e+01
cats_allowed,265190.0,7.168219e-01,4.505430e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
dogs_allowed,265190.0,6.965496e-01,4.597489e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
smoking_allowed,265190.0,7.338965e-01,4.419199e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
wheelchair_access,265190.0,7.875863e-02,2.693622e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
electric_vehicle_charge,265190.0,1.435952e-02,1.189680e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
comes_furnished,265190.0,4.864437e-02,2.151238e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
lat,263771.0,3.720886e+01,5.659648e+00,-4.353330e+01,3.350850e+01,3.798490e+01,4.116840e+01,1.020360e+02
long,263771.0,-9.239815e+01,1.737078e+01,-1.638940e+02,-1.047040e+02,-8.647830e+01,-8.128460e+01,1.726330e+02

In [0]:
house=house_raw.drop(["url","region_url","image_url","id"],axis=1)

In [0]:
house.shape

(265190, 18)

In [0]:
house.drop(["lat","long","state"],axis=1,inplace=True)

In [0]:
house.shape

(265190, 15)

In [0]:
house.head()

,region,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,description
0,birmingham,1195,apartment,1908,3,2.0,1,1,1,0,0,0,laundry on site,street parking,Apartments In Birmingham AL Welcome to 100 Inv...
1,birmingham,1120,apartment,1319,3,2.0,1,1,1,0,0,0,laundry on site,off-street parking,Find Your Way to Haven Apartment Homes Come ho...
2,birmingham,825,apartment,1133,1,1.5,1,1,1,0,0,0,laundry on site,street parking,Apartments In Birmingham AL Welcome to 100 Inv...
3,birmingham,800,apartment,927,1,1.0,1,1,1,0,0,0,laundry on site,street parking,Apartments In Birmingham AL Welcome to 100 Inv...
4,birmingham,785,apartment,1047,2,1.0,1,1,1,0,0,0,laundry on site,street parking,Apartments In Birmingham AL Welcome to 100 Inv...

In [0]:
def outlier_cal(data):
    col=list(data.columns)
    for i in col:
        if (data[i].dtypes!='object'):
            if(data[i].nunique()> 2):
                iqr=data[i].quantile(0.75)-data[i].quantile(0.25)
                lo=data[i].quantile(0.25)-(1.5*iqr)
                uo=data[i].quantile(0.75)+(1.5*iqr)
                data[i]=np.where(data[i]>uo,uo,data[i])
                data[i]=np.where(data[i]<lo,lo,data[i])
    return data

In [0]:
house.dtypes

region                      object
price                        int64
type                        object
sqfeet                       int64
beds                         int64
baths                      float64
cats_allowed                 int64
dogs_allowed                 int64
smoking_allowed              int64
wheelchair_access            int64
electric_vehicle_charge      int64
comes_furnished              int64
laundry_options             object
parking_options             object
description                 object
dtype: object

In [0]:
house["baths"].value_counts()

1.0     136375
2.0      93726
1.5      18476
2.5       8185
3.0       4272
0.0       2045
4.0       1147
3.5        652
4.5        145
5.0        108
5.5         28
6.0         17
6.5          4
7.0          4
75.0         2
8.0          1
35.0         1
8.5          1
7.5          1
Name: baths, dtype: int64

In [0]:
house1=outlier_cal(data=house)

In [0]:
house1.describe().T

,count,mean,std,min,25%,50%,75%,max
price,265190.0,1183.357466,502.948051,0.0,817.0,1060.0,1450.0,2399.5
sqfeet,265190.0,980.013356,316.273115,146.0,752.0,950.0,1156.0,1762.0
beds,265190.0,1.873330,0.814419,0.0,1.0,2.0,2.0,3.5
baths,265190.0,1.478970,0.576873,0.0,1.0,1.0,2.0,3.5
cats_allowed,265190.0,0.716822,0.450543,0.0,0.0,1.0,1.0,1.0
dogs_allowed,265190.0,0.696550,0.459749,0.0,0.0,1.0,1.0,1.0
smoking_allowed,265190.0,0.733896,0.441920,0.0,0.0,1.0,1.0,1.0
wheelchair_access,265190.0,0.078759,0.269362,0.0,0.0,0.0,0.0,1.0
electric_vehicle_charge,265190.0,0.014360,0.118968,0.0,0.0,0.0,0.0,1.0
comes_furnished,265190.0,0.048644,0.215124,0.0,0.0,0.0,0.0,1.0

In [0]:
house1.dtypes

region                      object
price                      float64
type                        object
sqfeet                     float64
beds                       float64
baths                      float64
cats_allowed                 int64
dogs_allowed                 int64
smoking_allowed              int64
wheelchair_access            int64
electric_vehicle_charge      int64
comes_furnished              int64
laundry_options             object
parking_options             object
description                 object
dtype: object

In [0]:
house2=house1.copy()

In [0]:
house2.dtypes

region                      object
price                      float64
type                        object
sqfeet                     float64
beds                       float64
baths                      float64
cats_allowed                 int64
dogs_allowed                 int64
smoking_allowed              int64
wheelchair_access            int64
electric_vehicle_charge      int64
comes_furnished              int64
laundry_options             object
parking_options             object
description                 object
dtype: object

In [0]:
house3=pd.get_dummies(house2,drop_first=True)

MemoryError:

In [0]:
house2["region"].value_counts()

jacksonville              4246
rochester                 3677
fayetteville              3652
omaha / council bluffs    2727
denver                    2671
                          ...
zanesville / cambridge       3
kansas city                  3
northwest OK                 2
texoma                       1
east oregon                  1
Name: region, Length: 298, dtype: int64

In [0]:
house3=house2[house2["region"]=='jacksonville']

In [0]:
house3=house3.drop(["description"],axis=1)

In [0]:
house3.head()

,region,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options
58604,jacksonville,1440.0,apartment,1480.0,3.0,2.5,0,0,1,0,0,0,NaN,NaN
58619,jacksonville,929.0,apartment,760.0,1.0,1.0,1,1,0,1,0,0,w/d in unit,off-street parking
58643,jacksonville,1079.0,apartment,915.0,2.0,2.0,1,1,0,1,0,0,w/d in unit,off-street parking
58680,jacksonville,916.0,apartment,600.0,1.0,1.0,1,1,0,0,0,0,w/d in unit,off-street parking
61822,jacksonville,754.0,apartment,605.0,1.0,1.0,1,1,0,0,0,0,laundry on site,off-street parking

In [0]:
house4=pd.get_dummies(house3,drop_first=True)

In [0]:
house4.columns

Index(['price', 'sqfeet', 'beds', 'baths', 'cats_allowed', 'dogs_allowed',
       'smoking_allowed', 'wheelchair_access', 'electric_vehicle_charge',
       'comes_furnished', 'type_condo', 'type_duplex', 'type_house',
       'type_loft', 'type_manufactured', 'type_townhouse',
       'laundry_options_laundry on site', 'laundry_options_no laundry on site',
       'laundry_options_w/d hookups', 'laundry_options_w/d in unit',
       'parking_options_carport', 'parking_options_detached garage',
       'parking_options_no parking', 'parking_options_off-street parking',
       'parking_options_street parking'],
      dtype='object')

In [0]:
house4.describe().T

,count,mean,std,min,25%,50%,75%,max
price,4246.0,985.976095,341.419661,299.0,725.0,935.0,1139.0,2399.5
sqfeet,4246.0,947.129298,269.351545,146.0,755.0,920.0,1102.0,1762.0
beds,4246.0,1.838907,0.705909,0.0,1.0,2.0,2.0,3.5
baths,4246.0,1.426519,0.523325,0.0,1.0,1.0,2.0,3.5
cats_allowed,4246.0,0.713377,0.452237,0.0,0.0,1.0,1.0,1.0
dogs_allowed,4246.0,0.709374,0.454105,0.0,0.0,1.0,1.0,1.0
smoking_allowed,4246.0,0.845973,0.361017,0.0,1.0,1.0,1.0,1.0
wheelchair_access,4246.0,0.054875,0.227763,0.0,0.0,0.0,0.0,1.0
electric_vehicle_charge,4246.0,0.001884,0.043371,0.0,0.0,0.0,0.0,1.0
comes_furnished,4246.0,0.023316,0.150923,0.0,0.0,0.0,0.0,1.0
type_condo,4246.0,0.004239,0.064979,0.0,0.0,0.0,0.0,1.0
type_duplex,4246.0,0.003297,0.057333,0.0,0.0,0.0,0.0,1.0
type_house,4246.0,0.043806,0.204687,0.0,0.0,0.0,0.0,1.0
type_loft,4246.0,0.000471,0.021701,0.0,0.0,0.0,0.0,1.0
type_manufactured,4246.0,0.006123,0.078021,0.0,0.0,0.0,0.0,1.0
type_townhouse,4246.0,0.017193,0.130004,0.0,0.0,0.0,0.0,1.0
laundry_options_laundry on site,4246.0,0.225624,0.418042,0.0,0.0,0.0,0.0,1.0
laundry_options_no laundry on site,4246.0,0.037211,0.189302,0.0,0.0,0.0,0.0,1.0
laundry_options_w/d hookups,4246.0,0.236458,0.424957,0.0,0.0,0.0,0.0,1.0
laundry_options_w/d in unit,4246.0,0.226566,0.418659,0.0,0.0,0.0,0.0,1.0
parking_options_carport,4246.0,0.006594,0.080948,0.0,0.0,0.0,0.0,1.0
parking_options_detached garage,4246.0,0.015780,0.124636,0.0,0.0,0.0,0.0,1.0
parking_options_no parking,4246.0,0.017193,0.130004,0.0,0.0,0.0,0.0,1.0
parking_options_off-street parking,4246.0,0.474093,0.499387,0.0,0.0,0.0,1.0,1.0
parking_options_street parking,4246.0,0.039802,0.195517,0.0,0.0,0.0,0.0,1.0

In [0]:
from sklearn.linear_model import LinearRegression  # this will help us to impute the numerical varaible missing values
from sklearn.linear_model import LogisticRegression # this will help us to impute the categorical varaible missing values
def fillnan(df):
    columns = df.columns[df.isnull().any()]
    for name in columns:
        y = df.loc[df[name].notnull(), name].values # the varaibles, which are having missing but consider only non missing rows of missing variables
        X = df.loc[df[name].notnull()].drop(columns, axis=1).values # non missing variables values are considering
        X_test = df.loc[df[name].isnull()].drop(columns, axis=1).values # missing rows 
        if df[name].dtypes == 'object':
            model = LogisticRegression()
            model.fit(X, y)
            df.loc[df[name].isnull(), name] = model.predict(X_test)
        else:
            model = LinearRegression()
            model.fit(X, y)
            df.loc[df[name].isnull(), name] = model.predict(X_test)
    return df

In [0]:
house5=fillnan(df=house4)

In [0]:
house5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4246 entries, 58604 to 222840
Data columns (total 25 columns):
price                                 4246 non-null float64
sqfeet                                4246 non-null float64
beds                                  4246 non-null float64
baths                                 4246 non-null float64
cats_allowed                          4246 non-null int64
dogs_allowed                          4246 non-null int64
smoking_allowed                       4246 non-null int64
wheelchair_access                     4246 non-null int64
electric_vehicle_charge               4246 non-null int64
comes_furnished                       4246 non-null int64
type_condo                            4246 non-null uint8
type_duplex                           4246 non-null uint8
type_house                            4246 non-null uint8
type_loft                             4246 non-null uint8
type_manufactured                     4246 non-null uint8
type_townhouse                        4246 non-null uint8
laundry_options_laundry on site       4246 non-null uint8
laundry_options_no laundry on site    4246 non-null uint8
laundry_options_w/d hookups           4246 non-null uint8
laundry_options_w/d in unit           4246 non-null uint8
parking_options_carport               4246 non-null uint8
parking_options_detached garage       4246 non-null uint8
parking_options_no parking            4246 non-null uint8
parking_options_off-street parking    4246 non-null uint8
parking_options_street parking        4246 non-null uint8
dtypes: float64(4), int64(6), uint8(15)
memory usage: 587.1 KB

In [0]:
house5.reset_index().drop(["index"],axis=1,inplace=True)

In [0]:
house5.head(10)

,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,...,type_townhouse,laundry_options_laundry on site,laundry_options_no laundry on site,laundry_options_w/d hookups,laundry_options_w/d in unit,parking_options_carport,parking_options_detached garage,parking_options_no parking,parking_options_off-street parking,parking_options_street parking
58604,1440.0,1480.0,3.0,2.5,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58619,929.0,760.0,1.0,1.0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
58643,1079.0,915.0,2.0,2.0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
58680,916.0,600.0,1.0,1.0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
61822,754.0,605.0,1.0,1.0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
61830,1124.0,1230.0,2.0,2.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61856,1349.0,1188.0,2.0,2.0,1,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
61863,730.0,800.0,3.0,1.0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69822,1220.0,1140.0,2.0,2.0,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
69886,610.0,765.0,2.0,1.0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0